.header {
    background-color: #090769;
    color: white;
    padding: 0;
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

.brand {
    margin: 0;
}

.nav {
    height: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav ul li {
    margin-left: 10px;
    height: 100%;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 0 1em;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav a:hover {
    background-color: #100e9e;
    text-decoration: underline;
}