body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

#root{
  width: 98%;
  max-width: 1200px;
}

#root ul {
  padding: 0;
  list-style: none;
}